@import '/static/styles/common.css';

select {
	border-radius: 5px;
	font-size: 15pt;
}

#contents {
	color: white;
	top: 150px;
}

#main_table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	table-layout: fixed;
	text-align: center;
	width: 500px;
}

#button_panel button {
	margin: 0 10px;
}

#fileUploader {
	font-family: Tahoma;
}

.close {
	background: rgb(255,175,175); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,175,175,1) 0%, rgba(255,104,104,1) 42%, rgba(191,6,0,1) 48%, rgba(244,112,112,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,175,1)), color-stop(42%,rgba(255,104,104,1)), color-stop(48%,rgba(191,6,0,1)), color-stop(100%,rgba(244,112,112,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,175,175,1) 0%,rgba(255,104,104,1) 42%,rgba(191,6,0,1) 48%,rgba(244,112,112,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,175,175,1) 0%,rgba(255,104,104,1) 42%,rgba(191,6,0,1) 48%,rgba(244,112,112,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,175,175,1) 0%,rgba(255,104,104,1) 42%,rgba(191,6,0,1) 48%,rgba(244,112,112,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,175,175,1) 0%,rgba(255,104,104,1) 42%,rgba(191,6,0,1) 48%,rgba(244,112,112,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffafaf', endColorstr='#f47070',GradientType=0 ); /* IE6-9 */
	
	border: outset #DE2626 2px;
	border-radius: 5px;
	color: white;
	font-family: Aldrich;
	font-size: 10pt;
	float: right;
	height: 25px;
	width: 25px;
}
